.TopBarTotal {
  display: flex;

  justify-content: space-between;
}

.TabBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.34%;
  height: 35px;
  border-top: 1px solid gray;
  border-right:1px solid gray;
  border-left: none;
  border-bottom: none;
  box-shadow: none;
  img {
    width: 27px;
    height: 23px;
  }

  &.selected {
    background: #364f74;
    color: white;
  }
  &:nth-child(1) {
    border-radius: 0 0 0 10px;
  }
  &:nth-child(3) {
    border-radius: 0 0 10px 0;
    border-right: none;
  }
}
