.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.FullSpace {
  width: 580px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}
