.AreaCharBorder {
  .recharts-wrapper {
    border: 1px solid #fc5185;
    border-radius: 10px;
    font-size: 12px;
  }

  .TotalPrice {
    font-size: 12px;
    color: black;
  }
  .DayPrice {
    font-size: 9px;
    font-weight: 300;
  }
}
